@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700;800&display=swap");

:root {
  --color-dark-blue: #151f81;
}

.splash-header {
  width: 100%;
  text-align: left;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #ffffff;
}
.splash-header-Blue {
  //font-family: 'Poppins', sans-serif;
  color: white;
  text-align: left;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  order: 0;
}
.splash-header-BlueTop {
  width: 100%;
  //font-family: 'Poppins', sans-serif;
  text-align: left;
  display: inline-flex;
  justify-content: center;
  align-items: initial;
  flex-wrap: wrap;
  background-color: #3e5fed;
}
.splash-header-Pink {
  width: 100%;
  //font-family: 'Poppins', sans-serif;
  text-align: left;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #d71f81;
}

.splash-block {
  // global-font-family : 'Poppins', sans-serif;
  // header-font-family : 'Poppins', sans-serif;
  //font-family: 'Poppins', sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.25em;
  color: white;
  order: 0;
  width: 46%;
  text-align: left;
  text-justify: distribute-all-lines;
  // min-width: 300px;
  //margin-trim: 5%;
  margin-top: 2%;
  margin-left: 2%;
}

.splash-block-main {
  // global-font-family : 'Poppins', sans-serif;
  // header-font-family : 'Poppins', sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  font-weight: 800;
  line-height: 1.25em;
  text-align: center;
  text-justify: distribute-all-lines;
  margin-top: 5%;
  margin-bottom: 10%;
  width: 100%;
  color: #3e5fed;
}

.splash-block-wide {
  background-color: #dcf2ff;
  order: 0;
}
.splash-block-pink {
  font-weight: 400;
  color: white;
  order: 0;
  width: 100%;
  text-align: center;
  background-color: #d71f81;
}
.splash-text-main {
  order: 0;
  font-weight: 700;
  width: 70%;
  height: 100%;
  text-align: left;
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
}
.splash-image-Calouste {
  order: 1;
  width: 35.8%;
  // min-width: 300px;
  vertical-align: middle;
  position: relative;
  // margin-right: -2%;
}
.splash-image-Academia {
  order: 1;
  width: 22.6%;
  // min-width: 300px;
  vertical-align: middle;
  position: relative;
  // margin-right: -2%;
}
.splash-image-Champalimaud {
  order: 1;
  width: 24.1%;
  // min-width: 300px;
  vertical-align: middle;
  position: relative;
  // margin-right: -2%;
}
.splash-image-Neurogears {
  order: 1;
  width: 17.5%;
  // min-width: 300px;
  vertical-align: middle;
  position: relative;
  // margin-right: -2%;
}
.splash-image-small {
  order: 1;
  padding: 2.5%, 2.5%, 2.5%, 2.5%;
  width: 20%;
  height: 10em;
  // min-width: 300px;
  vertical-align: middle;
  position: relative;
  // margin-right: -2%;
}
.splash-image-large {
  order: -1;
  //position:fixed;
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}
.splash-imageTop {
  order: 0;
  width: 40%;
  // min-width: 300px;
  vertical-align: middle;
  margin: 2% 1%;
  top: -5.8vw;
  position: relative;
}
@media screen and (min-width: 320px) {
}

@media screen and (min-width: 320px) and (max-width: 640px) {
  .splash-header-Pink {
    flex-direction: column;
  }
  .splash-block {
    width: 65%;
  }
  .splash-imageTop {
    width: 90%;
  }
  .splash-imageTop > img:last-child {
    display: none;
  }
  p.ex0 {
    margin-right: 0.5% !important;
  }
  p.ex1 {
    margin-right: 5% !important;
  }
  p.ex2 {
    margin-right: 5% !important;
  }
  p.ex3 {
    margin-right: 10% !important;
  }
}
@media screen and (max-width: 42em) {
}

.page__content a:not(.btn):not(#goog-wm-sb):hover img {
  box-shadow: none;
}
.page__content {
  p,
  li,
  dl,
  figcaption {
    font-family: "Poppins", sans-serif;
    // font-size: 13px;
  }
  font-weight: 400;
  line-height: 1.5em;
}
.page__content {
  h2 {
    font-family: "Poppins", sans-serif;
    font-size: 1.3em;
  }

  font-weight: 400;
  line-height: 1.5em;
}
p.ex0 {
  color: #351f81;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 1.5em;
  line-height: 1.25em;
  margin-right: 20%;
  padding-left: 2%;
  margin-top: 2em;
}
p.ex1 {
  color: #351f81;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1em;
  line-height: 1.25em;
  margin-right: 35%;
  padding-left: 2%;
}
p.ex2 {
  color: #351f81;
  font-size: 1em;
  line-height: 1.25em;
  margin-right: 35%;
  padding-left: 2%;
}
p.ex3 {
  color: #351f81;
  font-size: 1.25em;
  line-height: 1.7em;
  margin-right: 45%;
  padding-left: 2%;
}
p.ex4 {
  font-size: 0.75em;
  line-height: 1.35em;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #f7fcff;
  width: 100%;
  padding: 1% 2%;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a.ex1 {
  color: #d71f81;
}

.title-button__shadow {
  border: 1px solid #111;
  box-shadow: 12px 12px 0px 4px #a5ffd9;
  transition: transform 0.1s;
  background-color: #f7fcff;
  padding: 1% 2%;
}

.title-button__shadow:hover {
  transform: scale(1.07);
  text-decoration: underline;
}

.blue-font {
  color: #67cfd2;
  p,
  li,
  dl {
    font-family: "Poppins", sans-serif;
    font-size: 1em;
  }

  font-weight: 400;
  // line-height: 20px;
}
