@import url('https://fonts.googleapis.com/css?family=Poppins-bold:400');
@import url('https://fonts.googleapis.com/css?family=Poppins-Medium:400');

// .body {
//     background: white;
//     font-family: 'Poppins', sans-serif;
//     font-weight: 400;
//     line-height: 1.75;
//     color: #000000;
//   }
.padded {
    margin-bottom: 20px;
    border: 0px;
}
@media screen and (min-width: 64em) { .padded { margin-left: 20px; margin-right: 20px; } }
@media screen and (min-width: 42em) and (max-width: 64em) { .padded { margin-left: 5px; margin-right: 5px; } }
@media screen and (max-width: 42em) { .padded { margin-left: 5px; margin-right: 5px; } }

.splash-header {
    width: 100%;
    text-align: left;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #ffffff;
}
.splash-header-Blue {
    width: 100%;
    //font-family: 'Poppins-bold', sans-serif;
    text-align: left;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #3e5fed;
}
.splash-header-BlueTop {
    width: 100%;
    //font-family: 'Poppins-bold', sans-serif;
    text-align: left;
    display: inline-flex;
    justify-content: center;
    align-items: initial;
    flex-wrap: wrap;
    background-color: #3e5fed;
}
.splash-header-Pink {
    width: 100%;
    //font-family: 'Poppins-bold', sans-serif;
    text-align: left;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #d71f81;
}

.splash-block {
    // global-font-family : 'Poppins-bold', sans-serif;
    // header-font-family : 'Poppins-bold', sans-serif;
    //font-family: 'Poppins-bold', sans-serif;
    font-weight: 400;
    //line-height: 1.75;
    color: white;
    order: 0;
    width: 46%;
    text-align:left;
    text-justify: distribute-all-lines;
   // min-width: 300px; 
    //margin-trim: 5%;
    margin-left:2%;
}
.splash-block-pink{
    // global-font-family : 'Poppins-bold', sans-serif;
    // header-font-family : 'Poppins-bold', sans-serif;
    //font-family: 'Poppins-bold', sans-serif;
    font-weight: 400;
    //line-height: 1.75;
    color: white;
    order: 0;
    width: 100%;
    text-align:center;
   // min-width: 300px; 
    //margin-trim: 5%;
    // margin-right:10%;
    background-color: #d71f81;
}

.splash-image {
    order: 0;
    width: 46%;
    min-width: 300px;
    vertical-align: middle;
    margin-left: 2%;
}
.splash-image-large {
    order: 0;
    width: 100%;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.splash-imageTop {
    order: 0;
    width: 40%;
    min-width: 300px;
    vertical-align: middle;
    margin: 20px 10px;
    top: -150px;
    position:relative;
}
@media screen and (min-width: 64em) { .splash-image { order: 0; } }
@media screen and (min-width: 42em) and (max-width: 64em) { .splash-image { order: -1; } }
@media screen and (max-width: 42em) { .splash-image { order: -1; } }

.page__content a:not(.btn):not(#goog-wm-sb):hover img {
    box-shadow: none;
}
.page__content
{
    h2,
    p,
    li,
    dl {
        font-family: 'Poppins-bold', sans-serif;
    }
    
    font-weight: 400;
    line-height: 1.75;
}
p.ex1 {
    font-size: 36px;
    letter-spacing: -0.96px;
    line-height: 1;

}
p.ex2 {
    font-size: 65px;
    letter-spacing: qpx;
    line-height: 1.5;

  }
p.small
{
    font-family: 'Poppins-Medium', sans-serif;
    font-size: 1px;
    line-height: 1;
}
a.ex1{
    color: #ffffff; 
}
.blue-font
{
    color: #67CFD2;
}