@import url("https://fonts.googleapis.com/css?family=Poppins-bold:400");
@import url("https://fonts.googleapis.com/css?family=Poppins-Medium:400");

// .body {
//     background: white;
//     font-family: 'Poppins', sans-serif;
//     font-weight: 400;
//     line-height: 1.75;
//     color: #000000;
//   }
.padded {
  margin-bottom: 20px;
  border: 0px;
}
@media screen and (min-width: 64em) {
  .padded {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media screen and (min-width: 42em) and (max-width: 64em) {
  .padded {
    margin-left: 5px;
    margin-right: 5px;
  }
}
@media screen and (max-width: 42em) {
  .padded {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.splash-header {
  width: 100%;
  text-align: left;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #ffffff;
}
.splash-header-Blue {
  //font-family: 'Poppins-bold', sans-serif;
  color: white;
  text-align: left;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  order: 0;
}
.splash-header-BlueTop {
  width: 100%;
  //font-family: 'Poppins-bold', sans-serif;
  text-align: left;
  display: inline-flex;
  justify-content: center;
  align-items: initial;
  flex-wrap: wrap;
  background-color: #3e5fed;
}
.splash-header-Pink {
  width: 100%;
  //font-family: 'Poppins-bold', sans-serif;
  text-align: left;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #d71f81;
}

.splash-block {
  // global-font-family : 'Poppins-bold', sans-serif;
  // header-font-family : 'Poppins-bold', sans-serif;
  //font-family: 'Poppins-bold', sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.25em;
  color: white;
  order: 0;
  width: 46%;
  text-align: left;
  text-justify: distribute-all-lines;
  // min-width: 300px;
  //margin-trim: 5%;
  margin-top: 2%;
  margin-left: 2%;
}

.splash-block-main {
  // global-font-family : 'Poppins-bold', sans-serif;
  // header-font-family : 'Poppins-bold', sans-serif;
  //font-family: 'Poppins-bold', sans-serif;
  font-size: 3.5vw;
  font-weight: bold;
  line-height: 4vw;
  text-align: center;
  text-justify: distribute-all-lines;
  // min-width: 300px;
  //margin-trim: 5%;
  margin-top: 2%;
  margin-left: 2%;
  margin-bottom: 10%;
  color:#3e5fed;  
}

.splash-block-wide {
  // global-font-family : 'Poppins-bold', sans-serif;
  // header-font-family : 'Poppins-bold', sans-serif;
  //font-family: 'Poppins-bold', sans-serif;
  background-image: url("/assets/images/2022NeuronautasMainImage.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  order: 0;
  aspect-ratio: 842/1191;
  // min-width: 300px;
  //margin-trim: 5%;
}
.splash-block-pink {
  // global-font-family : 'Poppins-bold', sans-serif;
  // header-font-family : 'Poppins-bold', sans-serif;
  //font-family: 'Poppins-bold', sans-serif;
  font-weight: 400;
  //line-height: 1.75;
  color: white;
  order: 0;
  width: 100%;
  text-align: center;
  // min-width: 300px;
  //margin-trim: 5%;
  // margin-right:10%;
  background-color: #d71f81;
}
.splash-text-main {
  order: 0;
  font-weight: 400;
  width: 85%;
  height: 100%;
  color: white;
  text-align: left;
  margin-top: 14%;
  margin-left: 8%;
}
.splash-image-Calouste {
  order: 1;
  width: 35.8%;
  // min-width: 300px;
  vertical-align: middle;
  position: relative;
  // margin-right: -2%;
}
.splash-image-Academia {
  order: 1;
  width: 22.6%;
  // min-width: 300px;
  vertical-align: middle;
  position: relative;
  // margin-right: -2%;
}
.splash-image-Champalimaud {
  order: 1;
  width: 24.1%;
  // min-width: 300px;
  vertical-align: middle;
  position: relative;
  // margin-right: -2%;
}
.splash-image-Neurogears {
  order: 1;
  width: 17.5%;
  // min-width: 300px;
  vertical-align: middle;
  position: relative;
  // margin-right: -2%;
}
.splash-image-small {
  order: 1;
  padding: 2.5%, 2.5%, 2.5%, 2.5%;
  width: 20%;
  height: 10em;
  // min-width: 300px;
  vertical-align: middle;
  position: relative;
  // margin-right: -2%;
}
.splash-image-large {
  order: -1;
  //position:fixed;
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}
.splash-imageTop {
  order: 0;
  width: 40%;
  // min-width: 300px;
  vertical-align: middle;
  margin: 2% 1%;
  top: -5.8vw;
  position: relative;
}
@media screen and (min-width: 320px) {
  .splash-image {
    order: 0;
  }
}
@media screen and (min-width: 320px) and (max-width: 640px) {
  .splash-image {
    order: -1;
  }
}
@media screen and (max-width: 42em) {
  .splash-image {
    order: -1;
  }
}

.page__content a:not(.btn):not(#goog-wm-sb):hover img {
  box-shadow: none;
}
.page__content {
  p,
  li,
  dl,
  figcaption {
    font-family: "Poppins-bold", sans-serif;
    // font-size: 13px;
  }

  font-weight: 400;
  line-height: 1.5em;
}
.page__content {
  h2 {
    font-family: "Poppins-bold", sans-serif;
    font-size: 1.3em;
  }

  font-weight: 400;
  line-height: 1.5em;
}
p.ex0 {
  font-size: 3.9vw;
  letter-spacing: 0.07vw;
  line-height: 4.6vw;
  margin-right: 21%;
}
p.ex1 {
  font-size: 3.2vw;
  letter-spacing: 0.07vw;
  line-height: 3.9vw;
  margin-right: 38%;
}
p.ex2 {
  color: #3b1f5e;
  font-size: 2.4vw;
  letter-spacing: 0.05vw;
  line-height: 3vw;
  margin-left: 52%;
  margin-right: 5%;
  padding: 3%;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.68;
}
p.ex3 {
  font-size: 4vw;
  letter-spacing: 0.1vw;
  line-height: 4.7vw;
  margin-top: 20px;
  margin-bottom: 20px;
}

a.ex1 {
  color: #ffffff;
}
.blue-font {
  color: #67cfd2;
  p,
  li,
  dl {
    font-family: "Poppins-bold", sans-serif;
    font-size: 1em;
  }

  font-weight: 400;
  // line-height: 20px;
}
